#mod-schedule {
    width: 300px;
    height: 440px;
    background: #FFF;
}
.box {
    margin: 30px 0;
}
div {
    display: block;
}
.mod-schedule-title {
    padding-left: 10px;
    width: 290px;
    height: 39px;
    line-height: 39px;
    color: #FFF;
    font-size: 18px;
    border-bottom: 1px solid #BE9D53;
    background: #1E518C;
}
.mod-schedule-content {
    width: 300px;
    height: 399px;
    border-bottom: 1px solid #EAEAEA;
}
.mod-schedule-title a, .mod-schedule-title a:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 2px 0 #093d79;
}
.mod-schedule-content table.schedule-head {
    height: 39px;
    border-left: 1px solid #9E9E9E;
    border-right: 1px solid #9E9E9E;
}

.mod-schedule-content table {
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.mod-schedule-content table.schedule-body {
    height: 320px;
    border-left: 1px solid #9E9E9E;
    border-right: 1px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;
}
#dates{
    background-color: #EAEAEA;
}
body, table, td, th, tr, {
    margin: 15;
    padding: 15;
    list-style: none;
    border: none;
    
}
