/* common style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body, main {
    height: 100%;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: #444;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.cover {
    position: relative;
    height: 100%;
    min-height: 600px;
    background: url(../images/album1.jpg) center center no-repeat;
    background-size: cover;
    filter: blur(5px);
}
.modal-bg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
}

.content {
    width: 100%;
    position: absolute;
    top: 0;
}

/* header style */
.header {
    position: absolute;
    top: 10px;
    width: 100%;
}
.header .icon-login {
    float: right;
    margin-right: 20px;
    font-size: 30px;
    color: #eee;
    cursor: pointer;
}


/* content style */
.main {
    padding: 60px 160px 0px 160px;;
}
/* 模态框 */
.flip-modal {
    display: none;
}
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0px 3px 4px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.modal .icon-close {
    position: absolute;
    right: 10px;
    top: 10px;
}
.modal .tabs {
    text-align: center;
}
.modal .tabs a {
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    color: #666;
}
.modal .tabs a.active {
    border-bottom: 2px solid #444;
    color: #444;
}
.modal .modal-content {
    padding: 20px 40px;
}
.modal .errormsg {
    margin-left: 10px;
    color: #dd4b39;
    font-size: 14px;
}
.modal .modal-content .input-field {
    position: relative;
    margin: 10px;
}

.modal .modal-content .input-field .iconfont {
    position: absolute;
    left: 13px;
    top: 10px;
} 
.modal .modal-content input[type=text],
.modal .modal-content input[type=password] {
    width: 100%;
    padding: 10px 10px 10px 35px;
    outline: none;
}
.modal .modal-content input[type=submit] {
    padding: 6px 10px;
    border: none;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    outline: none;
}
.flip-modal.login .modal-login,
.flip-modal.register .modal-register {
    transform: translate(-50%, -50%) rotateY(0deg);
    backface-visibility: hidden;
    transition: all 1s;
}
.flip-modal.login .modal-register,
.flip-modal.register .modal-login {
    transform: translate(-50%, -50%) rotateY(180deg);
    backface-visibility: hidden;
    transition: all 1s;
}








.main .control {
    float: left;
    margin-right: 110px;
}
.main .control .album-img {
    width: 356px;
    height: 356px;
}
.main .control .album-img img {
    width: 100%;
    height: 100%;
}
.main .control .control-panel {
    text-align: center;
    padding: 16px;
}
.main .control .control-panel span {
    padding: 0 30px;
    display: inline-block;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.main .control .control-panel span:hover {
    color: #aaa;
}
.main .info {
    margin-left: 500px;
}

.main .info .album-name {
    display: inline-block;
    background: #dd4b39;
    padding: 8px 15px;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}
.main .info .description {
    margin-top: 30px;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
}
.main .info .data>span {
    padding: 0 60px 0 0;
    color: #fff;
}
.main .info .data>span .word {
    padding-left: 10px;
}
.main .info .progress {
    width: 546px;
    margin-top: 60px;
}
.main .info .progress .bar{
    height: 3px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.main .info .progress .progress-now {
    background-color: #ccc;
    height: 3px;
    position: relative;
}
.main .info .time, .song-name, .author {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}
.main .info .time {
    float: right;
}
/* footer style */
.footer {
    width: 100%;
}
.footer::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100% - 490px);
    background: rgba(224, 219, 219, 0.2);
}
.footer .album-list {
    width: calc(100% - 320px);
    margin: 20px auto;
    padding: 0 30px;
    text-align: center;
}
/* .footer .album-list .pic {
    display: inline-block;
    position: relative;
    width: calc(16.667% - 20px);
    margin: 20px 10px 10px 10px;
    float: left;
}
.footer .album-list .pic img {
    width: 80%;
    height: 80%;
}
.footer .album-list .pic img:hover {
    box-shadow: 0px 3px 4px 5px rgba(0, 0, 0,0.2);
} */



/* .footer .album-list ul li {
    display: inline-block;
    position: relative;
    width: calc(16.667% - 20px);
    margin: 20px 10px 10px 10px;
    float: left;
}
.footer .album-list ul li img {
    width: 80%;
    height: 80%;
}
.footer .album-list ul li img:hover {
    box-shadow: 0px 3px 4px 5px rgba(0, 0, 0,0.2);
} */


.footer .album-list figure {
    width: calc(16.667% - 20px);
    margin: 10px 10px 0 10px; 
    float: left;
}
.footer .album-list figure {
    display: block;
    position: relative;
}
.footer .album-list figure img {
    width: 80%;
    height: 80%;
}
.footer .album-list figure img:hover {
    box-shadow: 0px 3px 4px 5px rgba(0, 0, 0,0.2);
}
.footer .album-list figure figcaption {
    color: #eee;
}

